<ion-content>
  <form [formGroup]="addForm" id="form-order" (ngSubmit)="add()">
    <div class="form-group input-group grp">
      <label style="width: 100%;" for="created">Дата</label>
      <input id="created" [value]="dateInput1 | date: 'dd/MM/yyyy'"
        (click)="showDatepicker(1)" inputmode="none" style="border-radius: 10px 0px 0px 10px" type="text"
        class="form-control">
      <div class="input-group-append">
        <span style="border-radius: 0px 10px 10px 0px;" class="input-group-text"><i (click)="showDatepicker(1)"
            class="far fa-calendar-alt"></i></span>
      </div>
    </div>
    <div class="form-group grp">
      <label for="groupItems">Группа товаров</label>
      <select formControlName="groupItems" class="form-control" id="groupItems">
        <option *ngFor="let group of groups" [value]="group.value">{{ group.title }}</option>
      </select>
    </div>
    <div class="form-group grp">
      <label for="client">Клиент</label>
      <select formControlName="client" class="form-control" id="client">
        <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
      </select>
    </div>
    <div class="form-group grp">
      <label>Расходы</label>
      <input type="number" class="form-control" formControlName="costPrice" placeholder="Себестоимость">
      <label style="margin-top: 15px;">Логистика</label>
      <input type="number"  class="form-control" formControlName="costLogistic"
        placeholder="Логистика">
    </div>
    <div class="form-group grp">
      <label for="payment">Оплата</label>
      <input type="number" class="form-control" formControlName="payment" id="payment">
    </div>
    <div class="form-group grp">
      <label for="profit">Прибыль</label>
      <input type="number" class="form-control" formControlName="profit" id="profit"
        [value]="getProfit()">
    </div>
    <div class="form-group grp">
      <label for="wait">Ожидание</label>
      <input type="number" class="form-control" formControlName="wait" id="wait">
    </div>
    <div class="form-group input-group grp">
      <label style="width: 100%;" for="waitDate">Дата ожидания</label>
      <input id="waitDate" [value]="dateInput2 | date: 'dd/MM/yyyy'"
        (click)="showDatepicker(2)" inputmode="none" style="border-radius: 10px 0px 0px 10px" type="text"
        class="form-control">
      <div class="input-group-append">
        <span style="border-radius: 0px 10px 10px 0px;" class="input-group-text"><i (click)="showDatepicker(2)"
            class="far fa-calendar-alt"></i></span>
      </div>
    </div>
    <div style="text-align: center;">
      <button [disabled]="addForm.invalid" class="btn btn-lg" type="submit" style="background-color:transparent;">
        <i style="color:green" class="fas fa-check"></i></button>
    </div>
  </form>

</ion-content>